.swiper-slide img {
  display: block;
  object-fit: cover;
}

.housePicturesModalSwiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.housePicturesModalSwiper {
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
